<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Utworzone ankiety</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>



</head>

<html xmlns:th="http://www.thymeleaf.org" >
<body>

<div class="container mt-5">
    <fieldset class="form-group border p-4">
        <legend class="float-none w-auto px-2">Utworzone ankiety</legend>

        <table class="table table-striped ">
            <thead>
            <tr>
                <td>Id</td>
                <td>Nazwa</td>
                <td>Link do wypełnienia</td>
                <td>Data utorzenia</td>
                <td>Status</td>
                <td>Akcje</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="qM:${allQuestionnairs}">
                <td th:text="${qM.id}">x</td>
                <td th:text="${qM.name}">x</td>
                <td th:text="'http://localhost:8081/user/fillQuestionnaire?qId=' + ${qM.id} + '_' + ${{qM.created.getTime()}}">x</td>
                <td th:text="${{qM.created}}">x</td>
                <td th:text="${qM.active} ? 'Aktywna' : 'Nieaktywna'"/>
                <td><a th:href="'/admin/editQuestionnaire?id='+${qM.id}">
                        <img src="/static/img/icons8-pencil-32.png" width="27px" title="Edytuj"></a>
                    <!--<a >
                        <img src="/static/img/icons8-share-32.png" width="27px" title="Kopiuj link"></a>-->
                    <a th:href="'/admin/questionnaireResult?qId='+${qM.id}">
                        <img src="/static/img/icons8-bar-chart-32.png" width="27px" title="Zobacz wyniki"></a>
                    <a th:href="'/admin/deleteQuestionnaire?id='+${qM.id}">
                        <img src="/static/img/icons8-trash-32.png" width="27px" title="Usuń"></a>

                </td>
            </tr>
            </tbody>
        </table>
        <a href="/admin/newQuestionnaire" class="btn border">
            <img src="/static/img/icons8-add-32.png" title="Nowa ankieta"> Nowa ankieta
        </a>
    </fieldset>
</div>



</body>
</html>
